* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0055;
}

.window {
  width: 480px;
  height: 360px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #fdfdfd;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 5px 0;
  height: 44px;
  display: grid;
  grid-template-columns: 1fr 35px;
  max-width: 480px;
  overflow-x: hidden;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 420px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.add-item {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.tabs li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  user-select: none;
}

.tabs li span {
  flex-shrink: 1;
  flex-grow: 1;
  line-height: 18px;
  white-space: nowrap;
  display: block;
  min-width: 0;
  padding-right: 30px;
  mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
  -webkit-mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
}

.tabs li .close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.tabs li button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}
